/* .App {
  text-align: center;
} */

/* RESET SELECTOR */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3vh;
}

h1,
h2 {
  font-family: fantasy, "Courier New", monospace;
  text-align: center;
}

/* Utility Classes */

a {
  display: block;
  color: white;
  text-decoration: none;
}

a:hover {
  color: orange;
  opacity: 1;
}

th,
tr {
  padding: 1vh;
}

input,
select,
button {
  margin: 2vh;
  font-size: 3vh;
}

Button {
  border-radius: 50px;
  padding: 1vh;
  display: block;
  margin: 2vh auto;
}

#updateBtn {
  background-color: goldenrod;
}

#deleteBtn {
  background-color: red;
}

.msgSuccess {
  color: green;
}

/* Navbar */

.active {
  color: rgb(53, 107, 207);
}

#nav-div {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

#navbar-container {
  background-color: black;
  color: white;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  height: 9vh;
}

#brand {
  grid-column-start: 1;
  padding: 1vh;
}

#navbar-items {
  grid-column-start: 2;
  display: flex;
  justify-content: space-evenly;
  padding: 1vh;
}

#user-items {
  grid-column-start: 3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: right;
  /* padding-right: 2vh; */
}

#navbar-container img {
  height: 3vh;
  margin-left: 1vw;
  margin: 0 auto;
}

#navbar-items div {
  border: solid 1px white;
  padding: 0.5vw 2vw;
  display: grid;
}

#navbar-container a {
  display: grid;
  align-items: center;
  text-align: center;
}

/* Login / Logout CSS */

.login-container {
  padding: 10vh;
  text-align: center;
}

.login-container label {
  display: block;
}

/* Home CSS */

#home-container {
  background: url("./images/galaxy.jpg");
  background-size: cover;
  color: white;
  max-width: 100%;
  margin: auto;
  min-height: 94vh;
  padding: 10vh 2vh 2vh 2vh;
}

#home-container p {
  max-width: 75%;
  margin: 1vh auto;
  padding: 1vh;
  text-align: center;
}

#menu-grid {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  font-size: 2vw;
}

#menu-grid img {
  height: 15vh;
}

#menu-grid h2 {
}

#menu1 {
  grid-column-start: 1;
}

#menu2 {
  grid-column-start: 2;
}

/* PlanetContainer CSS */

#planet-container {
  background: url("./images/planet1.jpg");
  background-size: cover;
  color: white;
  max-width: 100%;
  margin: auto;
  min-height: 96vh;
  padding: 10vh 2vh;
}

/* Planet List Component */

.planet-table {
  margin: auto;
  text-align: left;
  opacity: 0.5;
  padding: 2vh;
  z-index: -1;
}

.planet-table thead tr {
  background: silver;

  font-weight: bold;
  text-align: center;
}

.planet-table tbody tr {
  background: rgb(53, 107, 207);
}

.planet-table tbody td {
  padding: 2vh;
}

#population {
  text-align: right;
}

.planet-table tbody tr:nth-of-type(even) {
  background: grey;
}

/* Add Planet Component */

#add-planet-container {
  width: 100%;
  min-height: 95vh;
  margin: auto;
  text-align: center;
  background: url("./images/earth.png") no-repeat;
  background-color: rgb(8, 3, 27);
  color: white;
  padding: 10vh;
  background-position: center;
  /* background: rgb(53, 107, 207); */
}

#add-planet-container form label {
  /* background-color: grey;
  opacity: .5;
  border-radius: 10vh; */

  /* width: 40vw;
  margin: auto; */
}
#add-planet-container label {
  display: block;
  padding: 2vh;
}

/* Planet Detail Component */

#planet-detail-container {
  background: url("./images/planet1.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  max-width: 100%;
  margin: auto;
  min-height: 95vh;
  padding: 10vh;
}

#planet-detail-container p {
  padding: 1vh;
}

/* Garrison Container */

#garrison-container {
  background: url("./images/army1.jpg");
  background-size: cover;
  color: white;
  max-width: 100%;
  margin: auto;
  min-height: 95vh;
  padding: 10vh 2vh;
}

/* Garrison Detail Component */

#garrison-detail-container {
  background: url("./images/army1.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  max-width: 100%;
  margin: auto;
  min-height: 95vh;
  padding: 10vh;
}

#garrison-detail-container p {
  padding: 1vh;
}
/* Add Garrison Component */

#add-garrison-container {
  width: 80vw;
  min-height: 95vh;
  margin: 5vh auto;
  padding: 10vh;
  border: solid 1px black;
  text-align: center;
}

#add-garrison-container label {
  display: block;
  padding: 2vh;
}

/* Footer CSS */

#footer-container {
  background-color: black;
  text-align: center;
  font-size: 2vh;
  width: 100vw;
  height: 6vh;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-top: 1.5vh;
}
